<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>balloons</key>
	<dict>
		<key>width</key>
		<integer>132</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>balloon1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>balloon2.png</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>balloon3.png</key>
		<dict>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>