<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,0},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>Default.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{41,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{41,29}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>bitmapFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,0},{190,24}}</string>
                <key>offset</key>
                <string>{-33,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>changePlayerButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{154,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,32}}</string>
                <key>sourceSize</key>
                <string>{156,34}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,480},{256,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{256,108}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,480},{258,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{258,109}}</string>
                <key>sourceSize</key>
                <string>{262,113}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,480},{252,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,118}}</string>
                <key>sourceSize</key>
                <string>{262,122}</string>
            </dict>
            <key>highscores.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{224,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{224,55}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,598},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>platform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,598},{100,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>platform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,598},{89,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,32}}</string>
                <key>sourceSize</key>
                <string>{93,34}</string>
            </dict>
            <key>playAgainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,598},{233,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{233,47}}</string>
                <key>sourceSize</key>
                <string>{235,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
